<center><h3><font color = #d4c67f><font face = fantasy><%=p2_name%>, start guessing the letters.</h3></center>
<center><h2><%=blank%></h2></center>
<br></br>
<center><h2><font color = #b0d6d4><%=message%></font></h2></center>
<center><h2><font color = #b54343><%=message2%></font></h2></center>
<form method="post" action="guess">
<center><img src="http://cdn.staticneo.com/w/pokemon/4/47/385.gif"></center>
<center><input type="text" maxlength="1" autofocus="autofocus" name="letter"></center>
<center><input type="submit" value = "Submit Guess"></center>
<div>
<center>Guesses left: <%=counter%></center>
<center>Letters guessed:</center>
<center><%=array%></center>
<div>
<!-- https://pldh.net/media/dreamworld/384.png "losing image" -->
<!-- http://www.pkparaiso.com/imagenes/rubi-omega-zafiro-alfa/sprites/animados/rayquaza-mega.gif // http://orig00.deviantart.net/ebb6/f/2011/085/d/8/victini_sprite_by_shadowstar150-d3cj2fc.gif "winning images" -->
</font>
</form>