<title>Hangman</title>
<center><font color=white><font face = constantia><%=p1_name%>, please enter a word for <%=p2_name%> to guess.
<div>
<%=p2_name%>, you will guess <%=p1_name%>'s word once it has been entered.
</font>
<div>
<form action="gameword" method = "post">
<input type = "hidden" name = "player_1" value = "<%=p1_name%>">
<input type = "hidden" name = "player_2" value = "<%=p2_name%>">
<input type="password" autofocus="autofocus" onkeyup="this.value = this.value.replace(/[^a-zA-Z]/, '')" name="word">
<input type="submit" value="Submit Word">
<div>
<img src=http://www.pkparaiso.com/imagenes/xy/sprites/animados/rayquaza.gif>
</center>
<form>